.honda-bg-success{
    background-color: #264653;
    color: #fff;
}
.social-area ul{
    text-align: center;
    margin-left: 80px;

}


@media (max-width: 700px) {
    .honda-beaner img{
        width: 280px;
        height: 260px;
    }
    
}
